<%- include('../views/index'); %>

            <link rel="stylesheet" href="/stylesheets/cadastro.css">

            <h1>Cadastrar Usuário</h1>

            <!-- Warning: Atributo Enctype para processamento de arquivo-->
            <form action="/cadastro" method="POST" enctype="multipart/form-data">
                <label for="nome">Nome:</label>
                <input type="text" name="nomeCompleto">

                <label for="email">E-mail:</label>
                <input type="email" name="email">

                <label for="senha">Senha:</label>
                <input type="password" name="senha">

                <label form="imagemUsuario">Imagem de Perfil:</label>
                <input type="file" name="imagemUsuario">

                <button type="submit">CADASTRAR</button>

            </form>

            </section>
        </main>
    <body>
</html>