<%- include('../views/index'); %>

            <link rel="stylesheet" href="/stylesheets/confirmacaoCadastro.css">

            <h3>Cadastro efetuado com Sucesso</h3>

            <section>
                <img src= <%=nomeImg%> alt="Imagem usuário Cadastrado">
                <p>Bem vindo <%=nomeUsuario%></p>
            </section>
            
        </main>
    <body>
</html>