<%- include('../views/index'); %>

            <link rel="stylesheet" href="/stylesheets/minhaConta.css">

            <h1>Cadastrar Usuário</h1>

            <form action="/minhaConta" method="POST">
                <label for="nome">Nome:</label>
                <input type="text" name="nomeCompleto">

                <label for="email">E-mail:</label>
                <input type="email" name="email">

                <label for="senha">Senha:</label>
                <input type="password" name="senha">

                <button type="submit">CADASTRAR</button>

            </form>

            </section>
        </main>
    <body>
</html>